extends ../base

block app-title
        | users
        
block content
        fieldset
                legend Search for specific user:
                div.row
                        form.form-horizontal(action="/users/filtered?", method="get")
                                div.col-lg-1.form-group
                                        label(class="col-lg-2 control-label") Username:
                                div.col-lg-2.form-group
                                        div(class="col-lg-10")
                                                input(class="input-sm", type="text", name="username")
                                div.col-lg-1.form-group
                                        input.btn.btn-success(type="submit", value="Search")
        fieldset
                legend.row.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-offset-2.col-sm-8.col-xs-10.col-xs-offset-1 All registered users:
                                each user in users
                                                div.panel.panel-info.width
                                                        div.panel-heading
                                                                h4 User: 
                                                                        a(href=`/users/${user.username}`) #{user.username}
                                                        div.panel-body
                                                                table(class="active")
                                                                        tr
                                                                                td(rowspan="2") 
                                                                                        img(src="/dsasa" alt="No image!")
                                                                                td(colspan="2") #{user.firstName} #{user.lastName} 