doctype
html
    head
        title 
              | Find Your Transport:
              block app-title
    body
              block navigation
        include ./common/navigation
              block content