extends base

block navigation
    nav
      ul
        li.nav-button
          button#home-button Home
        li.nav-button
          button#rides-button Rides
        li.nav-button
          button#users-button Users
        li.nav-button
          button#services-button Services
        li.nav-button
          button#profile-button Profile
        li.nav-button
          button#log-out-button Log out
    