body {
    background-image: url("../images/background.jpg");
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main {
    margin-top: 75px;
}

.register-container {
    margin: 10px 0px;
    padding: 15px;
    border: 2px solid #DCE4EC;
    border-radius: 6px;
    background-color: #FFFFFF;
}

.move {
    margin-left: 180px
}

.move-new-ride {
    margin-left: 180px
}

.move-login-buttons {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 50px;
}

.move-all-rides {
    margin-left: 20px;
}

.move-search-button {
    margin-left: 60px;
}

.move-down {
    padding-bottom: 30px;
}