/* Common components */

body {
    background-image: url("../images/background.jpg");
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.centered {
    display: flex;
    justify-content: center;
}

.nav-logo {
    margin-top: -8px;
}

main {
    padding-top: 150px;
}

footer {
    margin-top: 100px;
    background-color: #3CC477;
}

.footer-upper-boundary {
    margin-top: 20px;
}

.footer-lower-boundary {
    margin-bottom: 20px;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
}

footer a:hover {
    color: #1E392A;
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

/* Home page */

.home-section {
    background-color: #FFFFFF;
}

.home-section .right-section,
.left-section {
    margin: 30px 0px;
}

.left-section {
    padding-left: 70px;
}

.right-section {
    display: flex;
    justify-content: center;
}

.right-section>div {
    align-self: center;
}

.home-title {
    color: #3CC477;
    font-size: 3.5em;
}

.section-heading p {
    font-size: 1.1em;
    line-height: 1.5;
    margin: 25px 0px;
}

.img-home {
    width: 100%;
}


/* Forms */

.form-container {
    margin: 10px 0px;
    padding: 30px 30px;
    background-color: #FFFFFF;
}

textarea {
    resize: none;
}


/* All rides page */

.all-rides-container {
    background-color: #FFFFFF;
}

.all-rides-container label {
    padding: 5px 0px;
}

.bot-vert-align {
    display: flex;
}

.bot-vert-align>* {
    align-self: flex-end;
}

.btn-special {
    padding: 13px 54px;
}

.ride-container {
    border: 2px solid #DCE4EC;
    margin: 10px 15px;
    padding: 20px 0px;
}

.ride-container .row {
    margin: 5px 0px;
}

.font-xlg {
    font-size: 1.7em;
}

.font-lg {
    font-size: 1.4em;
}

.font-smlg {
    font-size: 1.2em;
}

.font-md {
    font-size: 1.1em;
}

.font-xs {
    font-size: 0.9em;
}


/* Ride detailed page */

.ride-detailed-container {
    background-color: #FFFFFF;
    padding: 20px 0px;
}

.detailed-information {
    margin: 50px 0px;
}

.tab-title {
    font-size: 1.2em;
}

.detailed-information>ul {
    list-style: none;
}

.detailed-information>ul>li {
    margin-top: 15px;
    font-size: 1.1em;
}

.detailed-information>ul>li>span {
    font-weight: bold;
}

#car-info {
    list-style-type: none;
    padding: 0px;
}


/* Add ride page*/

.img-add-ride {
    width: 100%;
}


/* User detailed page*/

.user-detailed-container {
    background-color: #FFFFFF;
    padding: 20px 0px;
}


/* Profile page */

.avatar-image {
    width: 125px;
    height: 125px;
    border: 2px solid #DCE4EC;
}

.profile-username {
    font-size: 3em;
    margin: 0px;
}

.profile-names {
    font-size: 1.5em;
    margin: 0px;
    color: #3CC477;
}

#tb-avatar {
    display: none;
}

#profile-info ul {
    padding: 0px;
}

#rides .font-md p {
    font-weight: bold;
}

#update-profile-picture .font-md {
    font-weight: bold;
}

#rides .ride-container hr {
    width: 100%;
}


/* All users page */

.all-users-container {
    background-color: #FFFFFF;
    padding: 0px 10px 40px 10px;
}

.all-users-container #tb-username {
    margin-bottom: 20px;
}

.all-users-container .user-container {
    border: 2px solid #DCE4EC;
    padding: 20px 10px;
    margin-bottom: 25px;
}

.all-users-container .user-container a {
    color: #1E392A;
}

.all-users-container .user-container a:hover {
    text-decoration: none;
}