extends ../base

block app-title
        | add ride
        
block content
        include ../common/error-message
        form(action="/add-ride" method="post" class="move-new-ride")
                div(class="move-down") Enter new ride:
                div(class="form-group move-down")
                        label(for="tb-from-city" class="col-lg-2 control-label") From city:
                        div(class="col-lg-10")
                                input(type="text" name="fromCity" id="tb-from-city", class="input-sm")
                div(class="form-group move-down")
                        label(for="tb-to-city" class="col-lg-2 control-label") To city:
                        div(class="col-lg-10")
                                input(type="text" name="toCity" id="tb-to-city", class="input-sm")
                div(class="form-group move-down")
                        label(for="tb-date-of-travel" class="col-lg-2 control-label") On date:
                        div(class="col-lg-10")
                                input(type="text" name="dateOfTravel" id="tb-date-of-travel", class="input-sm")
                div(class="form-group move-down")
                        label(for="tb-price" class="col-lg-2 control-label") Price:
                        div(class="col-lg-10")
                                input(type="text" name="price" id="tb-price", class="input-sm")
                div(class="form-group move-down")
                        label(for="tb-free-seats" class="col-lg-2 control-label") Available seats:
                        div(class="col-lg-10")
                                input(type="text" name="freePlaces" id="tb-free-seats", class="input-sm")
                div(class="form-group move-down")
                        label(for="tb-distance" class="col-lg-2 control-label") Distance:
                        div(class="col-lg-10")
                                input(type="text" name="distance" id="tb-distance", class="input-sm")
                div(class="form-group move-down")
                        label(for="tb-more-info" class="col-lg-2 control-label") More info:
                        div(class="col-lg-10")
                                input(type="text" name="remarks" id="tb-more-info", class="input-sm")
                div(class="form-group")
                        div(class="col-lg-10 col-lg-offset-2")
                                input(type="submit" value="Add new ride" class="btn btn-success col-lg-2")