extends ../base

block app-title
        | add ride
        
block content
        fieldset(class="move-new-ride")
                legend Enter new ride:
                div(class="form-group move-down")
                        label(class="col-lg-2 control-label") From city:
                        div(class="col-lg-10")
                                input(type="text", class="input-sm")
                div(class="form-group move-down")
                        label(class="col-lg-2 control-label") To city:
                        div(class="col-lg-10")
                                input(type="text", class="input-sm")
                div(class="form-group move-down")
                        label(class="col-lg-2 control-label") On date:
                        div(class="col-lg-10")
                                input(type="text", class="input-sm")
                div(class="form-group move-down")
                        label(class="col-lg-2 control-label") Price:
                        div(class="col-lg-10")
                                input(type="text", class="input-sm")
                div(class="form-group move-down")
                        label(class="col-lg-2 control-label") Available seats:
                        div(class="col-lg-10")
                                input(type="text", class="input-sm")
                div(class="form-group move-down")
                        label(class="col-lg-2 control-label") Distance:
                        div(class="col-lg-10")
                                input(type="text", class="input-sm")
                div(class="form-group move-down")
                        label(class="col-lg-2 control-label") More info:
                        div(class="col-lg-10")
                                input(type="text", class="input-sm")
                div(class="form-group")
                        div(class="col-lg-10 col-lg-offset-2")
                                a(href="#" class="btn btn-success") Add new ride