extends ../base



block content
    h1  Works
    a(href="/login") Login
    a(href="/register") Register
    //temp added list to test the routes
    ul
      li
         a(href="/rides") All rides 
      li 
         a(href="/rides:id") Specific ride 
      li
         a(href="/calculate-price") Calculate price for a transport
      li
         a(href="/add-ride") Add new ride
      li
         a(href="/users") Users
      li
         a(href="/user:id") Specific user     
    -if(currentUser)
        h2  #{currentUser.username}
        a(href="/logout") Logout

    h1 Welcome to our homepage

