extends ../base

block content
    .row.home-section
      .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-0.matchheight.left-section
        .col-inner
          .section-heading
            h1.home-title FYT
            p
              | Have you ever struggled with finding a convenient transport? If yes, then FYT is the place for you. With just a few clicks you can easily find a transport for your destination.
          // .section-heading
          .section-content
            a.btn.btn-success(href='#about') START NOW
          // .section-content
      .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-0.matchheight.right-section
        .col-inner.clearfix
            .col-xs-8.col-xs-offset-2
                img.img-responsive.img-home(src="/images/fyt-home-picture.png")
    script(type='text/javascript').
        jQuery(function($){
        $('.matchheight').matchHeight({byRow: false});
        });
