footer
    div(class="row footer")
        div(class="modal-header")
            h4(class="modal-title pagination-centered text-center") Team members: 
        div(class="modal-body")
            div(class="col-lg-2 footer-names move")
                p 
                    a(href="http://telerikacademy.com/Users/Tsvetoslav_Lazarov") Tsvetoslav Lazarov
            div(class="col-lg-2 footer-names")
                p 
                    a(href="http://telerikacademy.com/Users/Kristina.Barutska") Kristina Barutska
            div(class="col-lg-2 footer-names")
                p 
                    a(href="http://telerikacademy.com/Users/tone_92") Anton Borisov
            div(class="col-lg-2 footer-names")
                p 
                    a(href="http://telerikacademy.com/Users/Enikov") Todor Enikov